$lt-gray: #ddd;
$background-dark: #512da8;
$background-light: #9575cd;
$background-pale: #d1c4e9;

$carousel-item-height: 300px;

@mixin zeromargin($pad-up-dn, $pad-left-right) {
  margin: 0px auto;
  padding: $pad-up-dn $pad-left-right;
}

.row-header {
  @include zeromargin(0px, 0px);
}

.row-content {
  @include zeromargin(50px, 0px);
  border-bottom: 1px ridge;
  min-height: 400px;
}
.footer {
  background-color: $background-pale;
  @include zeromargin(20px, 0px);
}
.jumbotron {
  background-color: $background-light;
  @include zeromargin(70px, 30px);
}

address {
  font-size: 80%;
  margin: 0;
  color: #0f0f0f;
}
body {
  padding: 50px 0 0 0;
  z-index: 0;
}
.navbar-dark {
  background-color: $background-dark;
}

.tab-content {
  border-left: 1px solid $lt-gray;
  border-right: 1px solid $lt-gray;
  border-bottom: 1px solid $lt-gray;
  padding: 10px;
}

.carousel{
  .carousel-item{
    height: $carousel-item-height;
    img{
      position: absolute;
      top: 0;
      left: 0;
      min-height: $carousel-item-height;
    }
  }
}

#carouselButton{
  right: 0;
  bottom: 0;
  position: absolute;
}